@using CambioMonedaWeb.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UsuarioConversor> SignInManager
@inject UserManager<UsuarioConversor> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Calculín</h1>
    <p class="lead">La mejor web para realizar cambios de moneda</p>
    <hr class="my-4">
    <br />
    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-active-route asp-area="" class="btn btn-primary" asp-controller="Home" asp-action="VerMonedas" asp-hide-if-active="true">Ver monedas</a>
            <a asp-active-route asp-area="" class="btn btn-primary" asp-controller="Home" asp-action="VerConversor" asp-hide-if-active="true">Ir al conversor</a>
        }
        else
        {
            <a asp-active-route asp-area="" class="btn btn-primary" asp-controller="Account" asp-action="Login" asp-hide-if-active="true">Login</a>
            <a asp-active-route asp-area="" class="btn btn-primary" asp-controller="Account" asp-action="Register" asp-hide-if-active="true">Registrarse</a>
        }
    </div>
</div>