@using CambioMonedaWeb.Data
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Calculín</h1>
    <p class="lead">La mejor web para realizar cambios de moneda</p>
    <hr class="my-4">
    <br />
    <div class="text-center">
        <a asp-active-route asp-area="" class="btn btn-primary" asp-controller="Home" asp-action="VerMonedas" asp-hide-if-active="true">Ver monedas</a>
        <a asp-active-route asp-area="" class="btn btn-primary" asp-controller="Home" asp-action="VerConversor" asp-hide-if-active="true">Ir al conversor</a>
    </div>
</div>